<div class="container">
    <h2>Register Account</h2>
    <br /> <br />

    <form id="register-form">
    <div class="form-group label-static is-empty waves-effect">
        <label for="username" class="control-label blue-text">Username</label>
        <input id="username" name="username" class="form-control waves-effect" type="text" placeholder="Chose a Username" />
    </div>
    <div class="form-group label-static is-empty waves-effect">
        <label for="display_name" class="control-label blue-text">Full name</label>
        <input id="display_name" name="name" class="form-control waves-effect" type="text" placeholder="Enter your full name" />
    </div>
    <div class="form-group label-static is-empty waves-effect">
        <label for="email" class="control-label blue-text">Email</label>
        <input id="email" name="email" class="form-control waves-effect" type="text" placeholder="Enter your email" />
    </div>
    <div class="form-group label-static is-empty waves-effect">
        <label for="password" class="control-label blue-text">Password</label>
        <input id="password" name="password" class="form-control" type="password" placeholder="Chose a password" />
    </div>

    <button type="submit" class="btn btn-info waves-effect ripple">Submit <div class="ripple-container"></div></button>
    </form>
</div>